<a routerLink="/admin/frequencias/cadastrar" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Cadastrar frequencia</a>
<h1>Lista de funcionarios</h1>
<hr>
<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Turma</th>
        <th>Disciplina</th>
        <th>Professor</th>
        <th>Hoarario</th>
        <th>Data</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let frequencia of frequencias">
        <td>{{frequencia.turma.codigo}}</td>
        <td>{{frequencia.disciplina.nome}}</td>
        <td>{{frequencia.professor.nome}}</td>
        <td>{{frequencia.horario.nome}}</td>
        <td>{{frequencia.data}}</td>
        <td>{{frequencia.status}}</td>
    </tr>
    </tbody>
</table>