<script type="text/javascript">
 $('select#CentroCusto_new option').on('mousedown', function (event) {
  this.selected = !this.selected;
  event.preventDefault();
});
  
</script>

<h1>Cadastro de funcionários</h1>
<div class="alert alert-success" *ngIf="cadastro_ok">
  <strong>Cadastro realizado com sucesso! </strong> <a routerLink="/admin/funcionarios">Voltar para a lista das funcionários</a>
</div>
<div class="alert alert-success" *ngIf="atualizar_ok">
  <strong>Atualização realizada com sucesso! </strong>
  Continue editando ou <a routerLink="/admin/funcionarios">volte para a lista dos funcionários</a>
</div>
<div class="alert alert-danger" *ngIf="cadastro_erro">
  <strong>Opa!</strong> Aconteceu um erro ao tentar fazer o cadastro. Aguarde alguns instantes e tente novamente.
</div>
<div class="alert alert-danger" *ngIf="atualizar_erro">
  <strong>Opa!</strong> Aconteceu um erro ao tentar atualizar os dados do funcionário.
  Aguarde alguns instantes e tente novamente.
</div>
<form #cadastro="ngForm" (submit)="salvar()">
  <div class="form-group">
      <label for="pessoa">Tipo</label><br>
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="tipo" id="tipoadm" [(ngModel)]="funcionario.tipoId" value="1">
        Administrativo
      </label>
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="tipo" id="tipodoc"   [(ngModel)]="funcionario.tipoId" value="2"  >
        Docente
      </label>
  </div>
  <div class="form-group">
    <label for="pessoa">Pessoa</label>
    <select  class="form-control" required [(ngModel)]="funcionario.pessoaId" name="pessoa">
      <option *ngFor="let pessoa of pessoas" [value]="pessoa.id">{{pessoa.nome}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="cargo">Cargo</label>
    <select  class="form-control" id="cargoId" required [(ngModel)]="funcionario.cargoId"  name="cargoId"  >
      <option *ngFor="let cargo of cargos" [value]="cargo.id">{{cargo.nome}}</option>
    </select>
  </div>
  <div class="form-group">
      <label for="funcao">Funções</label>
      <select multiple class="form-control" required name="funcoes" [(ngModel)]="funcionario.funcoes" >
        <option  *ngFor="let funcao of funcoes" [value]="funcao.nome">{{funcao.nome}}</option>
      </select>
    </div>
  <button class="btn btn-primary" [disabled]="!cadastro.valid">Salvar</button>
</form>

