<a routerLink="/matriculas/cadastrar" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Cadastrar matrículas</a>
<h1>Lista de Matriculados</h1>
<hr>
<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th>Turma</th>
        <th>Aluno</th>
        <th width="250">Ações</th>
        
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let matricula of matriculas">
        <td>{{matricula.turma.codigo}}</td>
        <td>{{matricula.aluno.nome}}</td>
        <td swidth="80">
            <a [routerLink]="['/matriculas', matricula.id]" class="btn btn-primary btn-sm">Abrir</a>
            <a [routerLink]="['/matriculas', matricula.id, 'editar']" class="btn btn-secondary btn-sm">Editar</a>
            <a href="javascript:void(0)" class="btn btn-danger btn-sm" (click)="excluir(matricula)">Excluir</a>
        </td>
        
    </tr>
    </tbody>
</table>